html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
}
.color-picker{
    background-color: #bbbcbe;
    border: 1px solid black;
    color: black;
    display:block;
    justify-content: center;
    text-align: center;
    height: fit-content;
}
.color-picker p{
    text-decoration: underline;
}
.color-picker *{
    display: block;
    margin: 2px auto;
}
.color-picker input{
    color: black;
}
.wrapper {
    width: 400px;
    background-color:black;
    color: white;
}
.screen{
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    padding: 20px 5px;
    font-size: 40px;
}
.calc-button-row{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 0.5%;
}
.calc-button{
    background-color: #d8d9db;
    color:black;
    border:none;
    font-size: 40px;
    height: 100px;
    flex-basis: 24.5%;
}
.calc-button:hover{
    background-color: #ebebeb;
}
.calc-button:active{
    background-color: #bbbcbe;
}
.double{
    flex-basis: 49.7%;
}
.triple{
    flex-basis: 74.8%;
}
.calc-button:last-child{
    background-color: #df974c;
    color: white;
}
.calc-button:last-child:hover{
    background-color: #dfb07e;
}