body{
    background-color: aqua;
    justify-content: center;
}
.wrapper{
    background-color: lightblue;
    width: 90%;
    margin:0 auto;
}
.upper{
    background-color: #1d3bcf;
    display: flex;
    border: 0.5px solid black;
}
.upperleftcontainer{
    text-align: right;
    flex-basis: 50%;
    padding:1rem;
}
.upperleftcontainer img{
    border-radius: 3px;
    padding: 5px;
    border: 3px dashed white;
}
.upperrightcontainer{
    color: white;
    text-align: left;
    flex-basis: 50%;
    font-family: 'Luckiest Guy', cursive;
}
nav{
    border: 0.5px solid black;
    background-color: lightpink;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav ul{
    margin:0;
    padding:0;
    list-style-type: none;
    text-align: center;
}
nav li{

    display: inline-block;
    padding-top: 0.5rem;
    padding-bottom:0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
nav a{
    padding-top:0.4rem;
    padding-bottom:0.4rem;
    padding-left: 0.2rem;
    padding-right:0.2rem;
    color: black;
    background-color: none;
    border:none;
    text-decoration: none;
}
nav a:hover{
    margin: 0.2rem;
    color:white;
    background-color: lightgreen;
    border:none;
    border-radius:5px;
    text-decoration: none;
}
.core{
    justify-content: center;
    text-align: center;
    border:0.5px solid black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.core h1{
    display:block;
    margin: 0 auto;
}
.core img{
    display:block;
    flex-basis:80%;
    margin: 0 auto;
    border-radius: 50%;
}
.core a{
    color:purple;
    text-decoration:none;
}
.core a:hover{
    color:lightpink;
    background-color: purple;
    border-radius: 3px;
    padding: 0.01rem;
}
.canvas{
    display: flex;
    border: 0.5px solid black;
}
.stand{
    border:0.5px solid black;
    width:30%;
    height:auto;
    margin: 2rem;
    flex-basis:50%;
    justify-content: center;
    text-align: center;
    background-color: white;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 5px;
}
.stand img,.stand p{
    margin: 10px;
}
.stand:hover{
    border: 1px;
    border: black dashed;
}
.footer{
    border: 0.5px solid black;
    background-color: lightpink;
    text-align: center;
    font-size: 0.5rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
section{
    margin: 5px -10px 5px 5px;
    flex-basis: 50%;
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align:center;
}
section *{
    display: block;
    margin: 10px auto;
}
section [type="radio"]{
    display:inline-block;
    margin: 3px auto 0 auto;

}
legend{
    background-color: lightpink;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px;
}
.radiobuttongroup{
    display: inline-block;
    margin:0 auto 0 auto;
    justify-content: left;
    text-align:left;
}
aside{
    font-family: 'Luckiest Guy', cursive;
    text-align:center;
    margin: auto auto;
    flex-basis:20%;
    background-color: bisque;
    border-radius: 5px;
    border: 1px solid black;
    margin: auto auto;
    width:fit-content;
}
aside *{
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}
textarea{
    width: 75%;
    resize:vertical;
    max-height: 500px;
}
[type="text"],[type="tel"],[type="email"]{
    width: 60%;
}
.bulk{
    display: flex;
    flex-flow: row nowrap;
    border: 0.5px solid black;
}
fieldset{
    background-color: #77d9b3;
    display: flex;
    flex-flow: column nowrap;
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
    border-radius: 5px;
    border: 4px solid rgb(160, 105, 105);
    width: 100%;
}
fieldset *{
    margin: auto auto;
    text-align: center;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    border-radius: .5rem;
}
button{
    border-radius: 5px;
    border:none;
    color: white;
    background-color: #1d3bcf;
    width: 15%;
    padding: 0.75rem 1rem 0.75rem 1rem;
}
button:hover{
    background-color: white;
    color:#1d3bcf;
}
.colorful{
    font-style: oblique;
    color: black;
    border-radius: 5px;
}
.colorful:hover{
    background-color: pink;
    color:#1d3bcf;
    padding: 0.5rem;`
    
}